import { CatsModule } from './cats.module';

const mockConnection = jest.fn(() => { open: jest.fn() });
const connectionProvider = {
  provide: "Connection",
  useValue: mockConnection,
};

@Module({
  imports: [CatsModule],
  providers: [connectionProvider],
})
export class ApplicationModule {}