import { Test, TestingModule } from '@nestjs/testing';
import { CFPController } from './cfp.controller';
import { CFPService } from './cfp.service';

const cfpServiceMock = jest.fn<CFPService>(() => ({
  create: jest.fn().mockReturnValue({ id: 'abc' }),
  findOne: jest.fn().mockReturnValue({}),
}))();

describe('CFPController', () => {
  let cfpController: CFPController;

  beforeEach(async () => {
    const module = await Test.createTestingModule({
        controllers: [CFPController],
        providers: [CFPService],
      })
      .overrideProvider(CFPService)
      .useValue(cfpServiceMock)
      .compile();

    cfpController = module.get<CFPController>(CFPController);
  });

  describe('create', () => {
    it('should call create in CFPService and have an ID', () => {
      const cfp = {};

      const res = cfpController.create(cfp);

      expect(cfpServiceMock.create).toHaveBeenCalledWith(cfp);
      expect(res.id).toEqual('abc');
    });
  });
});
